@using LyroundMVCIntegrationMert.ViewModels
@model GirisYapViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>Lyround | Giriş Yap</title>
    <meta name="description" content="app, web app, responsive, admin dashboard, admin, flat, flat ui, ui kit, off screen nav" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href="~/Scripts/jplayer.flat.css" rel="stylesheet" />
    <link href="~/Content/Main/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Main/animate.css" rel="stylesheet" />
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Main/simple-line-icons.css" rel="stylesheet" />
    <link href="~/Content/Main/font.css" rel="stylesheet" />
    <link href="~/Content/Main/app.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/app.js"></script>
    <script src="~/Scripts/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/app.plugin.js"></script>
    <script src="~/Scripts/jquery.jplayer.min.js"></script>
    <script src="~/Scripts/jplayer.playlist.min.js"></script>
    <script src="~/Scripts/demo.js"></script>

    <style>
        html {
            background-color: #2ea0b6;
        }

        .mert {
            width: 100%;
        }

        .Ortala {
            text-align: center;
        }
    </style>



</head>
<body class="bg-info dker mert">


    <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
        <div class="container aside-xl">
            <a class="navbar-brand block" href="index.html"><span class="h1 font-bold">LYROUND</span></a>
            <section class="m-b-lg">
                <header class="wrapper text-center">
                    <strong>Lyround dünyasına giriş yap</strong>
                </header>


                @*<form action="index.html">*@  <!--index.html-->
                @using (Html.BeginForm())
                {


                    <div class="form-group">

                        @Html.TextBoxFor(model => model.KullaniciAdi, new
                       {
                           @class = "form-control rounded input-lg text-center no-border",
                           placeholder = "Kullanıcı Adınız"
                       })
                        @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger block Ortala" })
                        @*<input type="email" placeholder="Email" class="form-control rounded input-lg text-center no-border" />
                        *@
                    </div>
                        <div class="form-group">
                            @Html.TextBoxFor(model => model.Sifre, new
                       {
                           @class = "form-control rounded input-lg text-center no-border",
                           placeholder = "Şifreniz",
                           type = "password"
                       })
                            @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger block Ortala" })
                            @*<input type="password" placeholder="Password" class="form-control rounded input-lg text-center no-border" />*@
                        </div>
                    if (ViewData["Error"] != null)
                    {
                        <div class="red">
                            <p style="color:#f22020;text-align:center;"><strong> @ViewData["Error"].ToString()</strong></p>
                        </div>
                    }
                    <button type="submit" class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Giriş Yap</span></button>

                }

                <div class="text-center m-t m-b"><a href="#"><small>Şifremi unuttum</small></a></div>
                <div class="line line-dashed"></div>
                <p class="text-muted text-center"><small>Bir Lyround hesabınız yok mu?</small></p>
                <!-- Button olabilir -->    <a href="KayitOl" class="btn btn-lg btn-info btn-block rounded">Yeni hesap oluştur</a>

                @*</form>*@


            </section>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">
        <div class="text-center padder">
            <p>
                <small>İçeriklerin izinsiz kopyalanması yasaktır. <br />Lyround&copy; 2017</small>
            </p>
        </div>
    </footer>
    <!-- / footer -->



</body>
</html>

